#root {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
}

input {
	width: 90vw;
	margin: 10px;
	border-radius: 7px;
	border-width: 2px;
	border-style: solid;
	font-size: 1em;
}

.header {
	text-align: center;
	margin: 10px;
}

.randQuote {
	font-family: 'Brush Script MT', cursive;
	font-size: 2em;
	margin: 10px;
}

.randAuthor {
	font-family: 'Brush Script MT', cursive;
	font-size: 1.5em;
	margin: 10px;
}
