:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background-color:#98ee99;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

